<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!--BBV-P-412:AUBALDO:29/07/2016 RQ 13 – Reporte de Alta de Perfiles y Agencias. (NUEVA BRECHA)-->
<!--BBVA-P-412: 08/08/2016: AMR: RQ09 – Carga Masiva de Plan de Financiamiento-->
<!--BBV-P-412 RQCOT-05: AVH: 08/09/2016 SE AGREGA EligeRep Para elegir el reporte de impresion-->
<!--BBVA-P-412 RQ06: AMR: 20/09/2016 Administración de Planes de Financiamiento: Promociones-->
<!--BBVA-P-412 RQ WSA. WS GetLoan Products (RQ06, RQ09): AMR: 25/10/2016 WS GetLoan Products-->
<!-- BBV-P-412  RQ WSD  gvargas   25/10/2016 Agregadas Appsettings para permitir ingresar por un portal de Login externo-->
<!--BBVA-P-412 RQ WSE. WS Employee GVARGAS: 27/10/2016 URIs servicios-->
<!--BBVA-P-412 RQ WSC: AVH: 27/10/2016 SUDOKU-->
<!--BBV-P-412:RQ 10 AVH: 01/11/2016 Se actualiza web.config con el del servidor-->
<!--BUG-PC-30 AMR 03/01/2017: Al ingresar al portal procotiza e ingresar a la opcion de cotizacion manda un mensaje de warning.-->
<!--BBV-P-423:RQ LOGIN GVARGAS: 23/12/2016 Actualizacion REST Service iv_ticket & userID -->
<!--BBV-P412 RQCOT-01.2: AMR 23/02/2017: Seguros.-->
<!--BUG-PD-13  GVARGAS  28/02/2017 Link to Prodesk APP-->
<!--BUG-PC-55 GVARGAS 21/04/17 Cambios LogIn TC-->
<!--BUG-PC-58:AMATA:03/05/2017:Seguros Ordas-->
<!--BUG-PC-59:CGARCIA:03/05/2017:Seguro de vida bancomer-->
<!--BUG-PC-85 GVARGAS 05/07/2017 consumerID_Extranet-->
<!--BUG-PC-88 GVARGAS 05/07/2017 Cambios switch to prodesk-->
<!--BUG-PC-96 GVARGAS 05/07/2017 Cambios Session-->
<!--BUG-PC-325: CGARCIA: 09/01/2017 SE AGREGA URI PARA DAÑOS (urlSubplanes,urlDeducibleDaños,  urlIndemnizacion)-->
<!--RQ-PI7-PC4: RHERNANDEZ: 11/01/17: Se modifica urlBBVAV por el nuevo servicio de seguro de vida -->
<!--BUG-PC-154: CGARCIA: 19/02/2018: se cambia version de servicios de daños(urlSubplanes,urlDeducibleDaños,  urlIndemnizacion) -->
<!--RQ-PC5: JMENDIETA  27/01/2018: Se agrega uri para multicotizacion de Marsh -->

<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider"
          type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core"/>
  </configSections>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.Windows.Forms, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt"
          type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="aspx/Default.aspx"/>
    </authentication>
        <machineKey decryptionKey="6E63D73CFEFAA9CF7D8ECEC1463945E64B9E25273D502FA1,IsolateApps"
          validationKey="6BD58AD9BF796A0385828B9C68F03ADB7DC37D021F473AFA842141BC63825CC7172ECC4FE9B89FCC647A12DA8D020A947640AC1A72C15B47A5A87EBB01AB6288,IsolateApps"/>
        <!--BUG-PC-30-->      
        <globalization culture="es-MX" uiCulture="es-MX"/>
        <httpHandlers>
          <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core"/>
        </httpHandlers>
  </system.web>
  <appSettings>
    <!--<add key="ConexionBD" value="Data Source=WVMCREDABDDE01;Initial Catalog=bmnpat01;User ID=telepro;Password=telepro" />-->
    <!--<add key="ConexionBD" value="Data Source=150.100.106.22;Initial Catalog=bmnpad01;User ID=telepro;Password=telepro"/>-->
    <!--<add key="ConexionBD" value="Data Source=150.100.224.20;Initial Catalog=bmnpac01;User ID=telepro;Password=telepro"/>-->
    <!--<add key="ConexionBD" value="Data Source=150.100.152.84;Initial Catalog=bmnpap01;User ID=telepro;Password=telepro" />-->
    <!--<add key="ConexionBD" value="Data Source=150.100.152.84;Initial Catalog=bmnpap01;User ID=telepro;Password=telepro" />-->
    <add key="ConexionBD" value="Data Source=DESKTOP-UK0NCD5\CGARCIASQL;Initial Catalog=bmnpad01;User ID=sa;Password=telepro"/>
    <add key="Proveedor" value="System.Data.SqlClient"/>
    <add key="Reportes" value="C:\inetpub\wwwroot\CotizadorWeb\Reportes\"/>
    <add key="RepEncabezado" value="Atención a clientes 01-800-7000-123"/>
    <add key="ImgProductos" value="file:C:\inetpub\wwwroot\CotizadorWeb\img\"/>
    <add key="RepImgLogo" value="file:C:\inetpub\wwwroot\CotizadorWeb\img\"/>
    <add key="imagenLogoReporte" value="img_cab_ConsumerFinance.JPG"/>
    <add key="imagenProdReporte" value="procotiza.gif"/>
    <add key="RepCotizacion" value="rptCotizaInCredit.rdlc"/>    
    <add key="EligeRep" value="2"/>
    <!--value=1  Imprime en rptCotizaInCredit.rdlc
    Value=2 Imprime en rptCotizaInCredit.rdlc-->

    <!--BBV-P-412:AUBALDO:29/07/2016 RQ 13 – Reporte de Alta de Perfiles y Agencias. (NUEVA BRECHA)-->
    <add key="RepAltaPerfilAgencia" value="C:\Reporte_BBVA"/>    
    <add key="CargaPaquete" value="C:\Bancomer\Logs\"/>
    <add key="Repositorio" value="C:\Bancomer\ArchivosExcel\"/>
    <add key="FileName" value="Carga_Paquetes.xlsx"/>
    
    <!--Inicia WebServices-->
    <!--Carga Paquetes-->
    <add key="url" value="https://150.250.220.36:18500/loans/V01/"/>
    <add key="metodo" value="getLoanProducts"/>
    <!--Carga Paquetes-->
    <!--Intentos e intervalos de conexion TSEC--> 
    <add key="Interval" value="500"/>
    <add key="Intents" value="1"/>
    <add key="uriGRANTINGTICKET" value="https://150.250.220.36:18500/TechArchitecture/mx/grantingTicket/V02"/>
    <add key="urlProDesk" value="ProdeskNet/Login.aspx"/>
    <add key="consumerID" value="10000056"/>
    <!--10000004-->
    <!--<add key="userID" value="ADMINBBVA" />--> 
    <add key="userID" value="mx.cpbast03"/>
    <!--mx.cpbast21-->
    <add key="iv_ticket" value="rby5t64nGBCHY8PHnyubdv7VjDWU80b/hbVQkhWVBO4RgHpexXDew1q0ADvAQ9NE"/>
    <!--v8pfYRp5PvNm8P1pfQtMN5dT+gSF0BX8qd2+aTvYQRG633sSxRWy8A==-->
    <add key="css" value="autojlr_des_mx_web"/>
    <!--Intentos e intervalos de conexion TSEC-->
    <!--LogIn Interno y Portal Bancomer-->
	<add key="urlProDesk" value="ProdeskNet/Login.aspx"/>
    <add key="LoginEXTERNO" value="0"/>
    <add key="ValidarPassword" value="0"/>
    <add key="RedirectLAN" value="https://ecoaaccd.intranet.com.mx:5443/mbom_mx_web/mbom_mx_web/PortalLogon"/>
    <add key="RedirectWAN" value="http://www.google.mx"/>
    <add key="GENERIC_userID" value="mx.cpbast03"/>
    <add key="GENERIC_iv_ticket" value="rby5t64nGBCHY8PHnyubdv7VjDWU80b/hbVQkhWVBO4RgHpexXDew1q0ADvAQ9NE"/>   
    <add key="GENERIC_consumerID" value="10000028"/>
    <!--LogIn Interno y Portal Bancomer-->
    <!--REST Services Usuarios Bancomer-->
    <add key="createEmployee" value="https://150.250.220.36:18500/agencies/V01/employees/createEmployee"/>
    <add key="modifyEmployee" value="https://150.250.220.36:18500/agencies/V01/employees/modifyEmployee"/>
    <add key="deleteEmployee" value="https://150.250.220.36:18500/agencies/V01/employees/"/>
    <!--REST Services Usuarios Bancomer-->
    
    <!--Cotización Seguros Brokers-->
    <!--EIKOS-->
      <add key="ulrEikos" value="https://150.250.220.36:18500/insuranceBrokers/V01/eikos/quote"/> <!--AMATA-17042017-->
      <add key="useridEikos" value="zv11K0NbxCr5wca4YaQUlA=="/>
      <add key="passwordEikos" value="8JKrntOaUTNK9I/EY0J/8w=="/>
    
    <!--MARSH-->
      <add key="urlMarsh" value="https://150.250.220.36:18500/insuranceBrokers/V01/marsh/quote"/> <!--AMATA-17042017-->
      <add key="urlMarshMulti" value="https://150.250.220.36:18500/insuranceBrokers/V02/marsh/quote"/>
      <add key="useridMarsh" value="sisoramr"/>
      <add key="passwordMarsh" value="12345678"/>
    <!--ORDAS-->
      <add key="urlOrdas" value="https://150.250.220.36:18500/insuranceBrokers/V01/ordas/quote"/> <!--AMATA-17042017-->
      <add key="useridOrdas" value="WSFINANCIA"/>
      <add key="passwordOrdas" value="WSFINANCIA1"/>
    
    <!--BBVA-->
      <!--Daños-->
    <add key="urlBBVAD" value="https://150.250.220.36:18500/insurancePolicies/V02/getRateCarQuote"/>
    <add key="urlSubplanes" value="https://150.250.220.36:18500/corporateCatalogs/V03/SP/listCarInsuranceCatalogs"/>
    <add key="urlDeducibleDaños" value="https://150.250.220.36:18500/corporateCatalogs/V03/DP/listCarInsuranceCatalogs"/>
    <add key="urlIndemnizacion" value="https://150.250.220.36:18500/corporateCatalogs/V03/PI/listInsuranceInformationCatalogs"/>
      <!--Vida-->
        <add key="urlBBVAV" value="https://150.250.220.36:18500/lifeInsurances/V01/quotes"/>
    <!--Finaliza WebServices-->

    
    <!--AVH: Sudoku, Agency-->
    <add key="Customer" value="https://150.250.220.36:18500/customers/V03/"/>
    <add key="Agency" value="https://150.250.220.36:18500/agencies/V01/"/>
    <add key="Loans" value="https://150.250.220.36:18500/loans/V01/"/>


  </appSettings>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
    <system.webServer>
        <defaultDocument>
            <files>
                
                <add value="Login.aspx"/>
            </files>
        </defaultDocument>
        <handlers>
            <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition=""/>
        </handlers>
    </system.webServer>
    <dotless minifyCss="false" cache="true" web="false" strictMath="false"/>
</configuration>